# Common
*~

# Vim
*.sw[po]

# Emacs
\#*\#
.\#*

# Visual Studio Code
.vscode/

# IntelliJ
.idea/
*.iws
*.iml
*.ipr
out/

# Java
*.class
*.[jwen]ar
!*wrapper.jar
hs_err_pid*

# Maven
.mvn/
target/
pom.xml.*
release.properties
